<div class="card w-1/2 mx-auto shadow-xl">
  <div class="card-body">
 <form>
       <div class="form-control">
         <label class="label">
           <span class="label-text">Title Todo</span> 
        </label>
        <input type="text" name="title" id="title" class="input input-bordered w-full" placeholder="input your title todo">
       </div>    
     <div class="form-control">
         <label class="label">
           <span class="label-text">Description Todo</span> 
        </label>
        <input type="text" name="description" id="description" class="input input-bordered w-full" placeholder="input your title todo">
       </div> 
       <div class="text-center mt-4">
         <button type="submit" class="btn btn-primary">
            Add A Todo 
         </button>
       </div>   
    </form>
  </div>   
</div>