<div class="card w-1/2 mx-auto shadow-xl">
  <div class="card-body">
 <form (ngSubmit)="onUpdate()" #todoForm="ngForm">
       <div class="form-control">
         <label class="label" for="title">
           <span class="label-text">Title Todo</span>
        </label>
        <input type="text" name="title" id="title" class="form-control input input-bordered w-full" placeholder="input your title todo" [(ngModel)]="todos.title" #title="ngModel" required>
          <app-error-badge-component [hidden]="title.valid! || title.pristine!" [message]="'Title is required'"/>
       </div>
     <div class="form-control">
         <label class="label" for="description">
           <span class="label-text">Description Todo</span>
        </label>
        <input type="text" name="description" id="description" class="input input-bordered w-full" placeholder="input your title todo" [(ngModel)]="todos.description" #description="ngModel" required>
        <app-error-badge-component [hidden]="description.valid! || description.pristine!" [message]="'Description is required'"/>
      </div>
       <div class="text-center mt-4">
         <button type="submit" class="btn btn-primary disabled:btn-secondary" [disabled]="!todoForm.form.valid">
            Update
         </button>
       </div>
    </form>
  </div>
</div>
